/* 1. ОТСТУПЫ */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* ШРИФТЫ */
@font-face { font-family: 'Enthalpy298'; src: url('enthalpy298regular.woff'); }

.block1, .block2  { height: 33vh; position: relative; overflow: hidden; margin-bottom: 2vh;}
/* БЛОК 1 */
.hero-image1, .hero-image2{ 
    width: 100%; 
    height: 40vh; 
    object-fit: cover; 
    position: absolute;
    top: 0; left: 0;}
