html, body { margin: 0;  height: 100% }
body { padding: 10px 3px; box-sizing: border-box; background-color: #c1c1c1; overflow-x: hidden; overflow-y: auto;}

/* ШРИФТЫ */
@font-face { font-family: 'comic'; src: url('comic.woff'); }

